.statisticsContainer {
  display: flex;
  gap: 10px;
}

.statistics-Container {
  background-color: #1e1e1f;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  border-radius: 8px;
  color: #d3d3d3;
}

.statisticsTop,
.statisticsBottom {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.income-graph-container,
.expense-graph-container,
.income-pie-chart-container,
.expense-pie-chart-container {
  flex: 1;
  padding: 10px;
  color: #d3d3d3;
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
